<div fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px" style="width: 500px">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
            <button mat-mini-fab color="primary"><mat-icon>menu</mat-icon></button>
            <h1 style="font-style: italic">Youtube Playlist Plus</h1>
            <button mat-mini-fab (click)="themeService.toggleTheme()" color="primary">
                <mat-icon>{{ themeService.currentTheme() }}</mat-icon>
            </button>
        </div>
        <app-player [videos]="videos" [(currentIndex)]="currentIndex"></app-player>
        <app-playlist [videos]="videos" [(currentIndex)]="currentIndex" (playVideo)="playVideo($event)" (getPlaylistById)="getPlaylistById($event)"></app-playlist>
    </div>
</div>
