<mat-card>
    <mat-card-content fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-form-field fxFlex="90">
                <input matInput [formControl]="playlistIdControl" placeholder="Playlist ID" />
            </mat-form-field>
            <!-- <mat-form-field><input matInput [formControl]="searchControl" placeholder="Search list..."/></mat-form-field> -->
            <button mat-mini-fab color="primary" matTooltip="Shuffle" (click)="onShuffleClick()">
                <mat-icon>shuffle</mat-icon>
            </button>
        </div>

        <mat-selection-list id="playlist" [multiple]="false" [hideSingleSelectionIndicator]="true" [(ngModel)]="selectedValues" (ngModelChange)="onNgModelChange($event[0])">
            <mat-list-option *ngFor="let video of videos; index as i" (click)="onListItemClick(video.videoId)" [value]="i">
                <mat-icon matListItemIcon *ngIf="i == currentIndex">play_arrow</mat-icon>
                <div mat-line>
                    {{ video.title }}
                    <!-- I don't know why this has to be included in order for the play icon to show correctly-->
                    <span style="visibility: hidden">{{ currentIndex }}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
</mat-card>
