.mat-mdc-form-field {
    margin-bottom: -22px;
}

.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 30px;
}

.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: 30px;
}
